.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ====================Left Side Bar=================== */

.chat-rooms {
  height: 100%;
  width: 200px;
  background-color: gray;
  position: fixed;
  border-right: solid 1px;
}

h1 {
  font-size: 2em;
  padding: 15px;
  margin: 0;
}

.rooms-list {
  list-style: none;
  padding: 0;
}

.rooms-list li {
  border-style: solid;
  border-width: 1px 0px;
  margin: 5px 0px;
  background-color: rgb(221, 221, 221);
}

/* ======================Message List====================== */

.chat-messages {
  margin-left: 251px;
  text-align: left;
  margin-right: 50px;
}

.message {
  margin-bottom: 10px;
}

.message-username {
  display: inline-block;
}

.message-sentAt {
  display: inline-block;
  float: right;
}